state-machine.json
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "introduction",
  "States": {
    "introduction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "Welcome to Step Functions Text Based Adventure!\n Verbs: move, examine, take, consume, use\n examples) use key on door, examine door, move door"
          }
      },
      "Next": "jail_cell"
    },
    "jail_cell": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "You find yourself in a jail cell.  A 'cell door' lies at one end of the small room near a pile of soiled straw.",
              "TaskToken.$": "$$.Task.Token"
          }
      },
      "Next": "jail_cell_switch"
    },
    "jail_cell_switch": {
        "Type": "Choice",
        "Choices": [
            {
                "Variable": "$.selection",
                "StringEquals": "examine inventory",
                "Next": "jail_examine_inventory"
            },
            {
                "Variable": "$.selection",
                "StringEquals": "move cell door",
                "Next": "cell_door_locked"
            },
            {
                "Variable": "$.selection",
                "StringEquals": "examine room",
                "Next": "jail_cell"
            },
            {
                "Variable": "$.selection",
                "StringEquals": "use picklock cell door",
                "Next": "pick_cell_door"
            }
        ],
        "Default": "jail_unknown_selection"
    },
    "jail_examine_inventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input.$": "$.state.inventory"
          }
      },
      "Next": "jail_cell"
    },
    "cell_door_locked": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "The door is locked. Maybe I have something in my inventory that can help."
          }
      },
      "Next": "jail_cell"
    },
    "jail_unknown_selection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "I don't understand what you're asking..."
          }
      },
      "Next": "jail_cell"
    },
    "pick_cell_door": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "You reach through the door's bars and insert the picklock into the keyhole.  You hear a soft click as you finese the pick over the locking mechanism. You don't remember learning how to do that... but you don't have time to think about it. The door swings open."
          }
      },
      "Next": "dungeon"
    },
    "dungeon": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
          "QueueUrl": "<%print_console_queue_url%>",
          "MessageGroupId": "step-function-tba",
          "MessageBody":{
              "Input": "You reach through the door's bars and insert the picklock into the keyhole.  You hear a soft click as you finese the pick over the locking mechanism. You don't remember learning how to do that... but you don't have time to think about it. The door swings open."
          }
      },
      "End": true
    }
  }
}